.vsl-list {
    max-width: 100vw;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    
    .node {
        height: 1em;
        display: flex;
        justify-content: space-between;
    }

    .marker {
        display: inline-block;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 2em;

        .circle-marker {
            width: 1em;
            height: 1em;
            margin: 0 .25em;
            background: #000;
            border-radius: 50%;
        }

        & > * {
            width: 1em;
            height: 1em;
        }

    }

    label {
        display: inline-flex;
        align-items: flex-start;
        margin: 0;

        & > span {
            margin: 0 .25em;
        }

        .disabled  {
            & > * {
                color: #eee;
                opacity: 0.5;
            }
            .default-checkbox {
                background-color: #eee;
                opacity: 0.5;
            }
        }
        & > div {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 2em;

            & * {
                width: 1em;
                height: 1em;
            }
        }
    }

    .default-checkbox {
        border: 1px solid #333;
        width: 1em;
        height: 1em;
        margin: 0 0.25em;
        box-sizing: border-box;
    }

    .children {
        display: flex;

        & > .line {
            min-width: 2em;
            height: auto;
        }

        div > div {
            margin: .25em 0;
        }
    }

    .done.children {
        border-color: #000;
    }

    .line {
        height: 1em;
        margin-left: calc(1em - 0.5px);
        border-left: 1px solid #000;
    }

    .coming {
        color: #bbbb;
    }

    .coming .marker {
        opacity: 0.3;
    }

    .coming.line {
        border-color: #bbbb;
    }

    &.dark-theme {
        color: #fff;
        
        .marker {
            .circle-marker {
                background: #fff;
            }
        }
    
        label {
            .disabled  {
                & > * {
                    color: #444;
                }
                .default-checkbox {
                    background-color: #444;
                    opacity: 0.5;
                }
            }
        }
    
        .default-checkbox {
            border: 1px solid #fff;
        }
    
        .done.children {
            border-color: #fff;
        }
    
        .line {
            border-left: 1px solid #fff;
        }
    
        .coming {
            color: #888;
        }
    
        .coming .marker {
            opacity: 0.5;
        }
    
        .coming.line {
            border-color: #888;
        }
    }
}